<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>title</title>
</head>
<body>
    <header>
                <nav>
            <a href="/">Home Page</a>
            <a href="/articles">Blog Page</a>
            <a href="/articles/new">Add articles</a>
        </nav>
    </header>
    <main>
            <ul>
                <li><%= articles.title %></li>
                <ul>
                    <li><%= articles.description %></li>
                    <li><%= articles.tags %></li>
                    <li><%= articles.author %></li>
                </ul>
                <a href="/articles/<%= articles.id %>/like"><button>Like <%= articles.likes %></button></a>
                <a href="/articles/<%= articles.id %>/dislike"><button>dislike</button></a>
                <a href="/articles/<%= articles.id %>/edit"><button>edit</button></a>
                <a href="/articles/<%= articles.id %>/delete"><button>delete</button></a>
            </ul>
    </main>
    <footer>
</body>
</html>